.specials__container {
  padding: 4rem;
}
.specials__container h1 {
  font-size: 60px;
  font-family: var(--font-family);
  margin-bottom: 2rem;
  text-align: center;
}

.specials__special-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1050px) {
  .specials__container {
    padding: 2rem;
  }
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
  .specials__container h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 475px) {
}
