@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  
  --color-bg: #040C18;
  --color-primary : #031B34;
  --color-blog: #042c54;
  --color-sec: #81AFDD;
  --color-subtext: #FF8A71;
  --box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}